
importFrom("grid",
           "convertX",
           "convertY",
           "gList",
           "gpar",
           "grid.draw",
           "grid.layout",
           "gTree",
           "is.unit",
           "makeContent",
           "setChildren",
           "unit",
           "viewport",
           "vpStack")

importFrom("gridBezier",
           "BezierGrob")

export("cp",
       "curl",
       "cycle",
       "dir",
       "knot",
       "tension",
       "%+%",
       "%-%",

       "metapost",
       "mpost",
       "mptrace",
       "mpbbox",
       "mpvp",

       "grid.metapost",
       "metapostGrob")

S3method("length", "knot")
S3method("length", "path")
S3method("Ops", "mpobj")
S3method("makeContent", "metapostgrob")
S3method("print", "knot")
S3method("print", "path")
