
importFrom("grid",
           "bezierGrob",
           "convertX",
           "convertY",
           "gList",
           "grid.layout",
           "gTree",
           "is.unit",
           "unit",
           "viewport",
           "vpStack")

export("cp",
       "curl",
       "cycle",
       "dir",
       "knot",
       "tension",

       "%+%",
       "%-%",

       "metapost",
       
       "mpost",

       "mptrace")

S3method("length", "knot")
S3method("length", "path")
S3method("Ops", "mpobj")
S3method("print", "knot")
S3method("print", "path")
