
importFrom("grid",
           "convertX",
           "convertY",
           "is.unit")

export("cp",
       "curl",
       "cycle",
       "dir",
       "knot",
       "tension",

       "%+%",
       "%-%",

       "metapost",
       "mpost")

S3method("length", "knot")
S3method("length", "path")
S3method("Ops", "mpobj")
S3method("print", "knot")
S3method("print", "path")
